<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-searchbar show-cancel-button="focus" placeholder="Search by symbol"></ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="content-container">
  <div>Recently searched</div>
  <div class="discover-container">
    @for (recent of recentlySearched; track $index) {
    <app-instrument [variant]="InstrumentVariant.COMPANY" [symbol]="recent.symbol" [companyName]="recent.fullName"
      [amount]="recent.amount">
    </app-instrument>
    }
  </div>



  <div class="featured-stock-header">Top 3 Volume Stocks</div>
  <div class="featured-stock-container">
    @for(featuredStock of featuredStocks; track $index) {

    <app-card [variant]="CardVariant.DETAILED" [type]="featuredStock.type" [symbol]="featuredStock.symbol"
      [fullName]="featuredStock.fullName" [logo]="featuredStock.logo" [ask]="featuredStock.ask"
      [volume]="featuredStock.volume" [marketCap]="featuredStock.marketCap" [open]="featuredStock.open"
      [close]="featuredStock.close" [high]="featuredStock.high" [low]="featuredStock.low">
    </app-card>
    }
  </div>
</ion-content>